{% extends 'base.html.twig' %}



{% block body %}



        <h1>ça marche !
            <i class="fas fa-check"></i>
        </h1>
        <h2>
            nos produits phares
        </h2>
        <div class="row">
            {% for p in products %}
                <div class="col">
                    <div class="card">
                        <img src="{{ p.mainPircture }}" class=img-fluid" alt="Image du produit">
                        <div class="card-body">
                            <h4 class="card-title">{{ p.name }} ({{ p.price / 100 }} &euro;)</h4>
                            <span class="badge badge-info">{{ p.category.name }}</span>
                            <p class="card-text">{{ p.shortDescription }}</p>
                            <a href="#" class="btn btn-primary btn-sm">Détails</a>
                            <a href="#" class="btn btn-success btn-sm">Ajouter</a>
                        </div>
                    </div>
                </div>
            {%  endfor %}

        </div>
        <hr>
        <h2> Un service irreprochable</h2>
        <p>Lorem</p>

        <div class="row">

            {%  include "shared/_assurance.html.twig" with{
                'color' : 'primary',
                'icone' : 'fas fa-truck',
                'text' : "Lorem"
            } %}
            {%  include "shared/_assurance.html.twig" with{
                'color' : 'success',
                'icone' : 'fas fa-check',
                'text' : "Lorem"
            } %}
            {%  include "shared/_assurance.html.twig" with{
                'color' : 'warning',
                'icone' : 'fas fa-lock',
                'text' : "Lorem"
            } %}
        </div>


{% endblock %}

{% block title %}
  Accueil
{% endblock %}